@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 16px;
  --border: #414141;
  --hv-bg: rgba(38, 38, 38, .4);
  --color-letter: #A8A8A8;
  --color-meta: #0095F6;
  --font-size-letter: .9rem;
  --font-size-description: .8rem;
  --font-size-icon-menu-aside: 1.7rem;
  --border-box-img-post: #111111;
}



body{
  min-height: 100vh;
  background: #010409;
}

.box_aside_home_menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 13%;
  height: 100vh;
  min-width: 220px;
  background: #06090e;
  padding: 20px 10px 10px 20px;
  border-right: 1px solid var(--border);
}

.box_aside_home_menu header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box_aside_home_menu header h1{
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 8px;
}

.box_aside_home_menu .box_menu{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 86%;
  display: flex;
}

.box_aside_home_menu .box_menu nav{
  margin-top: 10px;
  flex-grow: 1;
}

.box_aside_home_menu .box_menu nav ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box_aside_home_menu .box_menu nav ul li{
  list-style: none;
  height: 50px;
  border-radius: 8px;
  transition: .5s;
  cursor: pointer;
}

.box_aside_home_menu .box_menu nav ul li{
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.box_aside_home_menu .box_menu nav ul li a{
  text-decoration: none;
  flex-grow: 1;
}


.box_aside_home_menu .box_menu nav ul li:hover{
  background: rgba(38, 38, 38, .4);
}

.box_aside_home_menu .box_menu nav ul li .menu_item{
  display: grid;
  grid-template-columns: 10% 1fr;
  gap: 20px;
  flex-grow: 1;
}

.box_aside_home_menu .box_menu nav ul li .menu_item > span{
  align-self: center;
  color: #b3b3b3;
  font-size: .96rem;
  font-weight: 400;
}


.box_aside_home_menu .box_menu nav ul li .menu_item.active span{
  font-weight: 600;
  color: #fff;
}



.box_aside_home_menu .box_menu nav ul li .menu_item i{
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
}


.box_aside_home_menu .box_menu nav ul li .menu_item .user_profile{
  position: relative;
  width: 30px;
  height: 30px;
}

.box_aside_home_menu .box_menu nav ul li .menu_item .user_profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.box_aside_home_menu .options{
  display: flex;
  width: 100%;
  border-radius: 8px;
  transition: .5s;
  padding: 8px;
}

.box_aside_home_menu .options .grid_options{
  display: grid;
  width: 100%;
  grid-template-columns: 15% 1fr;
  gap: 10px;
}

.box_aside_home_menu .options .grid_options i{
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
}

.box_aside_home_menu .options .grid_options span{
  align-self: center;
}

.box_aside_home_menu .options .grid_options span{
  font-size: 1rem;
  color: #b3b3b3;
}

.box_aside_home_menu .options:hover{
  background: rgba(38, 38, 38, .4);
  cursor: pointer;
}


.content_main{
  position: relative;
  margin-left: 250px;
}

.content_main .grid_main{
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 100px;
}


.content_main .grid_main main{
  position: relative;
}

.content_main .grid_main main section{
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 20px;
}

/*-----------Construci칩n de historias instagram-----------*/

.content_main .grid_main main section .reels{
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
}

.content_main .grid_main main section .reels .box_container_reels{
  position: relative;
  width: 70%;
  max-width: 1000px;
}

.content_main .grid_main main section .reels .box_container_reels span{
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
}









/*-------- Construci칩n de historias instagram----------*/




.content_main .grid_main main section .content_publications{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.content_main .grid_main main section .content_publications .box_publications{
  display: flex;
  flex-direction: column;
  width: 58%;
  gap: 20px;
  /* background: rgba(255, 255, 255, .2); */
}


.content_main .grid_main main section .content_publications .box_publications article{
  display: flex;
  position: relative;
  width: 100%;
  /* height: 100%; */
  max-width: 470px;
  /* height: 800px; */
  /* background: red; */
  margin-bottom: 20px;
}

.content_main .grid_main main section .content_publications .box_publications article:nth-child(1){
  margin-bottom: 20px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication{
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr; /*La fila 3 crece implicitamente*/
  height: inherit;
  border-bottom: 1px solid #414141;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header .profile{
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  flex-grow: 1;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header .profile .box_img_profile{
  position: relative;
  width: 35px;
  height: 35px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header .profile .box_img_profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.content_main .grid_main main section .content_publications .box_publications article .publication header .profile .name_profile{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  place-items: center;
  padding-left: 10px;
  column-gap: 6px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header .profile .name_profile span{
  color: #8F8F8F;
  font-weight: 500;
  font-size: .9rem;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header .profile .name_profile span:nth-child(1){
  color: #fff;
  font-size: .8rem;
  font-weight: 600;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header .options_publications{
  display: flex;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header .options_publications button{
  outline: none;
  border: none;
  background: none;
  padding: 5px;
  font-size: 1.02rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.content_main .grid_main main section .content_publications .box_publications article .publication header .options_publications button:hover{
  color: #666666;
}


.content_main .grid_main main section .content_publications .box_publications article .publication .post{
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 125%;
  /* height: 100%; */
  border-radius: 5px;
  overflow: hidden;
  border: thin solid var(--border-box-img-post);
}

.content_main .grid_main main section .content_publications .box_publications article .publication .post img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .reactions_post{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .reactions_post .reactions{
  display: flex;
  align-items: center;
  gap: 5px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .reactions_post .reactions span,
.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .save_post span{
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .reactions_post .reactions span i,
.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .save_post span i{
  font-weight: 100;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .reactions_post .reactions span i:hover,
.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .save_post span i:hover{
  color: #666666;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .likes_post{
  display: flex;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .likes_post span{
  font-size: .85rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .description_post{
  display: flex;
  flex-wrap: wrap;
}


.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .description_post p{
  font-size: .8rem;
  color: #fff;  
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .description_post p span{
  font-size: .8rem;
  color: #fff;
  font-weight: 600;
  margin-right: 5px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .comments_post{
  display: flex;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .comments_post span{
  color: #666666;
  font-size: .8rem;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .comments_post span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .make_comment{
  display: flex;
  height: 40px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .make_comment form{
  flex-grow: 1;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .make_comment form .box_input{
  position: relative;
  width: 100%;
  height: 100%;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .make_comment form .box_input textarea{
  position: absolute;
  outline: none;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: .8rem;
  resize: none;
  color: #fff;
  padding-right: 80px;
}

.content_main .grid_main main section .content_publications .box_publications article .publication .interactivity .make_comment form .box_input textarea::placeholder{
  color: #666666;
}


.content_main .grid_main .suggestion{
  width: 100%;
  height: 100vh;
}

.content_main .grid_main .suggestion .profile_suggestion{
  margin-top: 40px;
}

.content_main .grid_main .suggestion .profile_suggestion{
  display: grid;
  grid-template-rows: 80px 20px 230px 100px;
  gap: 6px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile{
  display: grid;
  grid-template-columns: max-content 25% 100px;
  place-items: center;
  gap: 15px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .box_img_profile{
  position: relative;
  width: 55px;
  height: 55px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .box_img_profile img,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .box_img_profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .info_profile,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .info_profile{
  position: relative;
  width: 100%;
  height: 100%;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .info_profile,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .info_profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .info_profile span:nth-child(1),
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .info_profile span:nth-child(1){
  color: #fff;
  font-weight: 600;
  font-size: .8rem;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .info_profile span:nth-child(2){
  color: #b3b3b3;
  font-size: .9rem;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile button,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends button{
  background: none;
  outline: none;
  border: none;
  color: #007DD0;
  font-weight: 500;
  font-size: .8rem;
  cursor: pointer;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile button:hover,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends button:hover{
 color: #fff;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.list{
  width: calc(10% + 25% + 100px + 5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.list span{
  color: #b3b3b3;
  font-size: .85rem;
  font-weight: 600;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.list button{
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.list button:hover{
  color: #b3b3b3;
}

.content_main .grid_main .suggestion .profile_suggestion .not_followers_friends{
  width: calc(10% + 25% + 100px + 5px);
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.content_main .grid_main .suggestion .profile_suggestion .not_followers_friends .friends{
  display: grid;
  grid-template-columns: max-content 1fr 50px;
  place-items: center;
  column-gap: 15px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .box_img_profile{
  position: relative;
  width: 35px;
  height: 35px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .info_profile span:nth-child(2){
  color: #b3b3b3;
  font-size: .7rem;
}


.content_main .grid_main .suggestion .profile_suggestion .suggestion_info_company{
  display: flex;
  align-items: center;
}

.content_main .grid_main .suggestion .profile_suggestion .box{
  display: grid;
  grid-template-rows: repeat(2, auto);
  width: calc(10% + 25% + 100px + 5px);
  row-gap: 15px;
}

.content_main .grid_main .suggestion .profile_suggestion .box div{
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.content_main .grid_main .suggestion .profile_suggestion .box div > a,
.content_main .grid_main .suggestion .profile_suggestion .box div > span{
  text-decoration: none;
  font-size: .70rem;
  color: #b3b3b3;
}

.content_main .grid_main .suggestion .profile_suggestion .box div > a:hover{
  text-decoration: underline;
}


@media screen and (max-width: 1750px){
  .content_main {
    margin-left: 220px;
  }

  .content_main .grid_main main section .content_publications .box_publications {
    width: initial;
  }

}

@media screen and (max-width: 1265px){

  .content_main {
    margin-left: 70px;
  }

  .box_aside_home_menu {
    width: auto;
    min-width: auto;
    max-width: 70px;
    padding: 20px 10px 10px 10px;
  }

  .box_aside_home_menu header h1 {
    display: none;
  }

  .box_aside_home_menu header{
    justify-content: center;
  }

  .box_aside_home_menu header i {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
  }

  .box_aside_home_menu .box_menu nav ul {
    align-items: center;
  }

  .box_aside_home_menu .box_menu nav ul li {
    padding-left: 0;
  }

  .box_aside_home_menu .box_menu nav ul li .menu_item {
    display: flex;
  }

  .box_aside_home_menu .box_menu nav ul li .menu_item span{
    display: none;
  }

  .box_aside_home_menu .options .grid_options {
    display: block;
  }

  .box_aside_home_menu .options .grid_options span {
    display: none;
  }

  /*Popup de ver m치s opciones*/
  .more_options {
    position: fixed;
    bottom: 21px;
    left: 61px;
    border-radius: 20px;
    z-index: 1;
  }
  /*Popup de ver m치s opciones*/
}

@media screen and (max-width: 1160px){

  .content_main .grid_main {
    display: flex;
    justify-content: center;
  }

  .content_main .grid_main .suggestion {
    display: none;
  }


}


/* @media screen and (min-width: 1500px){
  .content_main .grid_main main section .content_publications .box_publications article .publication{
    grid-template-rows: max-content 1fr;
  }
} */





