@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;
  background: #010409;
}

.box_aside_home_menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 13%;
  height: 100vh;
  background: #0D1117;
  padding: 20px 10px 10px 20px;
}

.box_aside_home_menu header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box_aside_home_menu header h1{
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 8px;
}

.box_aside_home_menu .box_menu{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 86%;
  display: flex;
}

.box_aside_home_menu .box_menu nav{
  margin-top: 10px;
  flex-grow: 1;
}

.box_aside_home_menu .box_menu nav ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box_aside_home_menu .box_menu nav ul li{
  list-style: none;
  height: 50px;
  border-radius: 8px;
  transition: .5s;
  cursor: pointer;
}

.box_aside_home_menu .box_menu nav ul li{
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.box_aside_home_menu .box_menu nav ul li:hover{
  background: rgba(38, 38, 38, .4);
}

.box_aside_home_menu .box_menu nav ul li .menu_item{
  display: grid;
  grid-template-columns: 10% 1fr;
  gap: 20px;
  flex-grow: 1;
}


.box_aside_home_menu .box_menu nav ul li .menu_item > span{
  align-self: center;
  color: #b3b3b3;
  font-size: .96rem;
  font-weight: 400;
}

.box_aside_home_menu .box_menu nav ul li .menu_item.active span{
  font-weight: 600;
}

.box_aside_home_menu .box_menu nav ul li .menu_item i{
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
}


.box_aside_home_menu .box_menu nav ul li .menu_item .user_profile{
  position: relative;
  width: 30px;
  height: 30px;
}

.box_aside_home_menu .box_menu nav ul li .menu_item .user_profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.box_aside_home_menu .options{
  display: flex;
  width: 100%;
  border-radius: 8px;
  transition: .5s;
  padding: 8px;
}

.box_aside_home_menu .options .grid_options{
  display: grid;
  width: 100%;
  grid-template-columns: 15% 1fr;
  gap: 10px;
}

.box_aside_home_menu .options .grid_options i{
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
}

.box_aside_home_menu .options .grid_options span{
  align-self: center;
}

.box_aside_home_menu .options .grid_options span{
  font-size: 1rem;
  color: #b3b3b3;
}

.box_aside_home_menu .options:hover{
  background: rgba(38, 38, 38, .4);
  cursor: pointer;
}

.content_main{
  position: relative;
  margin-left: 250px;
}

.content_main .grid_main{
  display: grid;
  grid-template-columns: 1fr 40%;
}

.content_main .grid_main .suggestion{
  width: 100%;
  height: 100vh;
}

.content_main .grid_main .suggestion .profile_suggestion{
  margin-top: 40px;
}

.content_main .grid_main .suggestion .profile_suggestion{
  display: grid;
  grid-template-rows: 80px 20px 230px 100px;
  gap: 6px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile{
  display: grid;
  grid-template-columns: 10% 25% 100px;
  place-items: center;
  gap: 15px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .box_img_profile{
  position: relative;
  width: 55px;
  height: 55px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .box_img_profile img,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .box_img_profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .info_profile,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .info_profile{
  position: relative;
  width: 100%;
  height: 100%;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .info_profile,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .info_profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .info_profile span:nth-child(1),
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .info_profile span:nth-child(1){
  color: #fff;
  font-weight: 600;
  font-size: .8rem;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile .info_profile span:nth-child(2){
  color: #b3b3b3;
  font-size: .9rem;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile button,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends button{
  background: none;
  outline: none;
  border: none;
  color: #007DD0;
  font-weight: 500;
  font-size: .8rem;
  cursor: pointer;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.profile button:hover,
.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends button:hover{
 color: #fff;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.list{
  width: calc(10% + 25% + 100px + 5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.list span{
  color: #b3b3b3;
  font-size: .85rem;
  font-weight: 600;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.list button{
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.list button:hover{
  color: #b3b3b3;
}

.content_main .grid_main .suggestion .profile_suggestion .not_followers_friends{
  width: calc(10% + 25% + 100px + 5px);
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.content_main .grid_main .suggestion .profile_suggestion .not_followers_friends .friends{
  display: grid;
  grid-template-columns: max-content 1fr 50px;
  place-items: center;
  column-gap: 15px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .box_img_profile{
  position: relative;
  width: 35px;
  height: 35px;
}

.content_main .grid_main .suggestion .profile_suggestion .suggestions_box.not_followers_friends .friends .info_profile span:nth-child(2){
  color: #b3b3b3;
  font-size: .7rem;
}


.content_main .grid_main .suggestion .profile_suggestion .suggestion_info_company{
  display: flex;
  align-items: center;
}

.content_main .grid_main .suggestion .profile_suggestion .box{
  display: grid;
  grid-template-rows: repeat(2, auto);
  width: calc(10% + 25% + 100px + 5px);
  row-gap: 15px;
}

.content_main .grid_main .suggestion .profile_suggestion .box div{
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.content_main .grid_main .suggestion .profile_suggestion .box div > a,
.content_main .grid_main .suggestion .profile_suggestion .box div > span{
  text-decoration: none;
  font-size: .70rem;
  color: #b3b3b3;
}

.content_main .grid_main .suggestion .profile_suggestion .box div > a:hover{
  text-decoration: underline;
}



