@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;
  background: #010409;
}


.box_aside_home_menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 13%;
  height: 100vh;
  background: #0D1117;
  padding: 20px 10px 10px 20px;
}

.box_aside_home_menu header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box_aside_home_menu header h1{
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 8px;
}

.box_aside_home_menu .box_menu{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 86%;
  display: flex;
}

.box_aside_home_menu .box_menu nav{
  margin-top: 10px;
  flex-grow: 1;
}

.box_aside_home_menu .box_menu nav ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box_aside_home_menu .box_menu nav ul li{
  list-style: none;
  height: 50px;
  border-radius: 8px;
  transition: .5s;
  cursor: pointer;
}

.box_aside_home_menu .box_menu nav ul li{
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.box_aside_home_menu .box_menu nav ul li:hover{
  background: rgba(38, 38, 38, .4);
}

.box_aside_home_menu .box_menu nav ul li .menu_item{
  display: grid;
  grid-template-columns: 10% 1fr;
  gap: 20px;
  flex-grow: 1;
}


.box_aside_home_menu .box_menu nav ul li .menu_item > span{
  align-self: center;
  color: #b3b3b3;
  font-size: .96rem;
  font-weight: 400;
}

.box_aside_home_menu .box_menu nav ul li .menu_item.active span{
  font-weight: 600;
}

.box_aside_home_menu .box_menu nav ul li .menu_item i{
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
}


.box_aside_home_menu .box_menu nav ul li .menu_item .user_profile{
  position: relative;
  width: 30px;
  height: 30px;
}

.box_aside_home_menu .box_menu nav ul li .menu_item .user_profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.box_aside_home_menu .options{
  display: flex;
  width: 100%;
  border-radius: 8px;
  transition: .5s;
  padding: 8px;
}

.box_aside_home_menu .options .grid_options{
  display: grid;
  width: 100%;
  grid-template-columns: 15% 1fr;
  gap: 10px;
}

.box_aside_home_menu .options .grid_options i{
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
}

.box_aside_home_menu .options .grid_options span{
  align-self: center;
}

.box_aside_home_menu .options .grid_options span{
  font-size: 1rem;
  color: #b3b3b3;
}

.box_aside_home_menu .options:hover{
  background: rgba(38, 38, 38, .4);
  cursor: pointer;
}