@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 16px;
  --border: #414141;
  --hv-bg: rgba(38, 38, 38, .4);
  --color-letter: #A8A8A8;
  --color-meta: #0095F6;
  --font-size-letter: .9rem;
  --font-size-description: .8rem;
  --font-size-icon-menu-aside: 1.7rem;
}

body{
  min-height: 100vh;
  background: #010409;
}

.box_aside_home_menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 13%;
  min-width: 200px;
  height: 100vh;
  background: #06090e;
  padding: 20px 10px 10px 20px;
  border-right: 1px solid var(--border);
}

.box_aside_home_menu header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box_aside_home_menu header i{
  display: none;
}

.box_aside_home_menu header h1{
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 8px;
}

.box_aside_home_menu .box_menu{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 86%;
  display: flex;
}

.box_aside_home_menu .box_menu nav{
  margin-top: 10px;
  flex-grow: 1;
}

.box_aside_home_menu .box_menu nav ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box_aside_home_menu .box_menu nav ul li{
  list-style: none;
  height: 50px;
  border-radius: 8px;
  transition: .5s;
  cursor: pointer;
}

.box_aside_home_menu .box_menu nav ul li{
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.box_aside_home_menu .box_menu nav ul li a{
  text-decoration: none;
  flex-grow: 1;
}

.box_aside_home_menu .box_menu nav ul li:hover{
  background: rgba(38, 38, 38, .4);
}

.box_aside_home_menu .box_menu nav ul li .menu_item{
  display: grid;
  grid-template-columns: 10% 1fr;
  gap: 20px;
  flex-grow: 1;
}

.box_aside_home_menu .box_menu nav ul li .menu_item > span{
  align-self: center;
  color: #b3b3b3;
  font-size: .96rem;
  font-weight: 400;
}

.box_aside_home_menu .box_menu nav ul li .menu_item.active span{
  font-weight: 600;
  color: #fff;
}

.box_aside_home_menu .box_menu nav ul li .menu_item i{
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
}

.box_aside_home_menu .box_menu nav ul li .menu_item .user_profile{
  position: relative;
  width: 30px;
  height: 30px;
}

.box_aside_home_menu .box_menu nav ul li .menu_item .user_profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.box_aside_home_menu .box_menu nav ul li .menu_item.active .user_profile img{
  border: 2px inset #fff;
}

.box_aside_home_menu .options{
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 8px;
  transition: .5s;
  padding: 8px;
}

.more_options{
  position: fixed;
  width: 260px;
  height: 400px;
  bottom: 80px;
  left: 20px;
  border-radius: 8px;
  background: #262626;
  visibility: hidden;
  opacity: 0;
}

.more_options.active{
  visibility: visible;
  opacity: 1;
}

.more_options nav{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: auto;
}

.more_options nav .decoration{
  position: relative;
  width: 100%;
  height: 5px;
  background: #414141;
}

.more_options nav .option_account{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.more_options nav .option_account .change_account,
.more_options nav .option_account .log_out{
  padding: 15px;
}

.more_options nav .option_account .change_account span,
.more_options nav .option_account .log_out span{ 
  color: #cecece;
  font-size: .9rem;
}

.more_options nav .option_account .change_account:hover,
.more_options nav .option_account .log_out:hover{
  background: #414141;
  border-radius: 8px;
  cursor: pointer;
}

.more_options nav .box_option_primary{
  display: flex;
  padding: 10px;
  flex-grow: 1;
}

.more_options nav ul{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
  flex-grow: 1;
}

.more_options nav ul li{
  list-style: none;
  padding: 15px;
  flex-grow: 1;
}

.more_options nav ul li:hover{
  background: #414141;
  border-radius: 8px;
  cursor: pointer;
}

.more_options nav ul li a{
  text-decoration: none;
}

.more_options nav ul li a .select_option,
.more_options nav ul li .select_option{
  display: flex;
  gap: 8px;
  align-items: center;
}

.more_options nav ul li a .select_option i,
.more_options nav ul li .select_option i{
  font-size: 1.2rem;
}

.more_options nav ul li a .select_option i,
.more_options nav ul li a .select_option span,
.more_options nav ul li .select_option i,
.more_options nav ul li .select_option span{
  color: #cecece;
}

.more_options nav ul li a .select_option span,
.more_options nav ul li .select_option span{
  font-size: .9rem;
}

.box_aside_home_menu .options .grid_options{
  display: grid;
  width: 100%;
  grid-template-columns: 15% 1fr;
  gap: 10px;
}

.box_aside_home_menu .options .grid_options i{
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
}

.box_aside_home_menu .options .grid_options span{
  align-self: center;
}

.box_aside_home_menu .options .grid_options span{
  font-size: 1rem;
  color: #b3b3b3;
}

.box_aside_home_menu .options:hover{
  background: rgba(38, 38, 38, .4);
  cursor: pointer;
}

.container_profile{
  margin-left: 300px; 
}

.container_profile section{
  display: flex;
  width: calc(100% - 300px);
}

.container_profile section main{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.container_profile section main .profile_data{
  display: block;
  width: calc(100% - 300px);
  margin-top: 30px;
}

.container_profile section main .profile_data .box_grid_profile{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
}

/*Solo se activara cuando la pantalla sea de 735px*/
.container_profile section main .profile_data .box_grid_profile .name_user_profile_mdquery{
  display: none;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .name_and_edit_profile_box{
  display: none;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_data_description{
  display: none;
}



/*Solo se activara cuando la pantalla sea de 735px*/

.container_profile section main .profile_data .box_grid_profile .header_profile{
  position: relative;
  display: grid;
  grid-template-columns: 32% 1fr;
  place-items: center;
  padding-bottom: 50px;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .box_img_profile{
  position: relative;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .box_img_profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box{
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  /* height: 70%; */
  /* background: yellow; */
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name{
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 45%; */
  height: calc(100% / 3);
  gap: 20px;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name .name_and_edit_profile_box{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 100%; */
  gap: 20px;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name .name_and_edit_profile_box span{
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name .name_and_edit_profile_box button{
  outline: none;
  border: none;
  color: #000;
  background: #EFEFEF;
  font-size: 1rem;
  padding: 8px 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name .name_and_edit_profile_box button:hover{
  background: #c5c5c5;
}
.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name .box_settings{
  display: flex;
  gap: 10px;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name .box_settings i{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_activity{
  display: flex;
  gap: 10px;
  height: calc(100% / 3);
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_activity .box_numbers_activity{
  display: flex;
  gap: 5px;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_activity .box_numbers_activity span{
  color: #fff;
  font-size: 1rem;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_activity
.box_numbers_activity span:nth-child(1){
  font-weight: 600;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_description{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: calc(100% / 3);
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_description .name_profile{
  flex-grow: 1;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_description .name_profile span{
  color: #fff; 
  font-size: .85rem;
  font-weight: 500;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_description .presentation{
  display: flex;
}

.container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_description .presentation p{
  color: #fff;
  font-size: .8rem;
}


.container_profile section main .profile_data .box_grid_profile .btn_sections_profile{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 100%;
  border-top: 1px solid #414141;
}

.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box{
  display: grid;
  grid-template-columns:max-content 1fr;
  place-items: center;
  column-gap: 5px;
}

.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box.active{
  border-top: 1px solid #fff;
}

.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box .btn{
  display: flex;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box i,
.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box .btn span{
  color: #414141;
  font-weight: 500;
}

.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box i{
  font-size: .75rem;
}

.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box .btn span{
  font-size: .8rem;
  text-transform: uppercase;
}

.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box.active i,
.container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box.active .btn span{
  color: #fff;
}

.container_profile section main .profile_data .box_grid_profile .photos{
  position: relative;
  display: flex;
  overflow-y: scroll;
}

.container_profile section main .profile_data .box_grid_profile .photos::-webkit-scrollbar{
  width: 0px;
}

.container_profile section main .profile_data .box_grid_profile .photos .collage_photos{
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-auto-rows: 325px;
  gap: 4px;
  flex-grow: 1;
}

.container_profile section main .profile_data .box_grid_profile .photos .collage_photos .box_publication_img{
  position: relative;
  overflow: hidden;
}

.container_profile section main .profile_data .box_grid_profile .photos .collage_photos .box_publication_img img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_profile .footer_info_company{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.container_profile .footer_info_company footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 300px);
}

.container_profile .footer_info_company footer .box_links_company{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.container_profile .footer_info_company footer .box_links_company a{
  text-decoration: none;
  color: #A8A8A8;
  font-size: .7rem;
  padding: 5px 5px;
}

.container_profile .footer_info_company footer .box_links_company a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.container_profile .footer_info_company footer .copyright{
  flex-grow: 1;
}

.container_profile .footer_info_company footer .copyright select{
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
  color: #A8A8A8;
  font-size: .7rem;
}

.container_profile .footer_info_company footer .copyright select option{
  color: #000;
}

.container_profile .footer_info_company footer .copyright span{
  color: #A8A8A8;
  font-size: .7rem;
}

@media screen and (max-width: 1750px){
  
  .container_profile {
    margin-left: 230px;
  }

}

@media screen and (max-width: 1600px){
  
  .container_profile {
    margin-left: 200px;
  }

  .container_profile section {
    display: flex;
    width: initial;
  }
  .container_profile section main {
    justify-content: center;
  }

  .container_profile section main .profile_data {
    width: initial;
  }

}

@media screen and (max-width: 1300px){
  
  .container_profile {
    margin-left: 200px;
  }

  .container_profile section {
    display: flex;
    width: 100%;
  }

  .container_profile section main {
    justify-content: center;
  }

  .container_profile section main .profile_data {
    display: block;
    width: initial;
    /* height: inherit; */
    margin-top: 30px;
  }


}

@media screen and (max-width: 1260px){

  .container_profile {
    margin-left: 70px;
  }

  .box_aside_home_menu {
    width: auto;
    min-width: auto;
    max-width: 70px;
    padding: 20px 10px 10px 10px;
  }

  .box_aside_home_menu header h1 {
    display: none;
  }

  .box_aside_home_menu header{
    justify-content: center;
  }

  .box_aside_home_menu header i {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
  }

  .box_aside_home_menu .box_menu nav ul {
    align-items: center;
  }

  .box_aside_home_menu .box_menu nav ul li {
    padding-left: 0;
  }

  .box_aside_home_menu .box_menu nav ul li .menu_item {
    display: flex;
  }

  .box_aside_home_menu .box_menu nav ul li .menu_item span{
    display: none;
  }

  .box_aside_home_menu .options .grid_options {
    display: block;
  }

  .box_aside_home_menu .options .grid_options span {
    display: none;
  }

  /*Popup de ver más opciones*/
  .more_options {
    position: fixed;
    bottom: 21px;
    left: 61px;
    border-radius: 20px;
    z-index: 1;
  }
  /*Popup de ver más opciones*/
}

@media screen and (max-width: 1050px){

  .container_profile section {
    padding: 25px 25px 0px 25px;
  }

  .container_profile section {
    height: calc(100vh - 5vh);
  }

  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos{
    grid-template-columns: repeat(3, minmax(calc(216px - 25px), 310px));
    grid-auto-rows: 300px;
  }

  .container_profile .footer_info_company footer {
    width: calc(100% - 70px);
  }

}

@media screen and (max-width: 950px){

  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos{
    grid-auto-rows: 273px;
  }

}


@media screen and (max-width: 850px){

  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos{
    grid-auto-rows: 240px;
  }
  
}

@media screen and (max-width: 800px){

  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos{
    grid-auto-rows: 216px;
  }
  
}


@media screen and (max-width: 770px){

  .container_profile {
    margin-left: 0;
  }

  .container_profile .footer_info_company{
    display: none;
  }

  .container_content_mensagges {
    width: 100%;
    height: calc(100vh - 4vh);
  }

  .box_aside_home_menu {
    top: auto;
    left: 0;
    bottom: 0;
    max-width: none;
    width: 100%;
    height: 5vh;
    z-index: 1;
    padding: 0; /*Se le quita el padding*/
    border-top: none;
  }

  .box_aside_home_menu header {
    display: none;
  }

  .box_aside_home_menu .box_menu {
    height: 100%;
  }

  .box_aside_home_menu .box_menu nav {
    margin-top: 0; /*Se le quita el margin*/
    align-self: center;
  }

  .box_aside_home_menu .box_menu nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0; /*Se le quita el gap*/
  }

  .box_aside_home_menu .box_menu nav ul li{
    height: 0;
  }

  .box_aside_home_menu .box_menu nav ul li:hover{
    background: none;
  }

  .box_aside_home_menu .box_menu nav ul li:nth-child(2),
  .box_aside_home_menu .box_menu nav ul li:nth-child(6){
    display: none;
  }

  .box_aside_home_menu .box_menu nav ul li .menu_item i {
    font-size: 1.5rem;
  }

  .box_aside_home_menu .box_menu nav ul li .menu_item .user_profile {
    width: 25px;
    height: 25px;
  }


  .box_aside_home_menu .options {
    display: none;
  }

  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos{
    grid-auto-rows: 240px;
  }

}

@media screen and (max-width: 735px){


  .container_profile section {
    padding: 0;
  }

  .container_profile section main .profile_data {
    margin-top: 0;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name .box_settings{
    display: none;
  }

  .container_profile section main .profile_data .box_grid_profile {
    grid-template-rows: max-content max-content max-content 1fr;
  }

  .container_profile section main .profile_data .box_grid_profile .name_user_profile_mdquery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 30px 20px;
  }

  .container_profile section main .profile_data .box_grid_profile .name_user_profile_mdquery .user_name_mdquery{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .container_profile section main .profile_data .box_grid_profile .name_user_profile_mdquery .user_name_mdquery span,
  .container_profile section main .profile_data .box_grid_profile .name_user_profile_mdquery .user_name_mdquery i{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
  }

  .container_profile section main .profile_data .box_grid_profile .name_user_profile_mdquery .user_options_mdquery{
    display: flex;
    align-items: center;
  }

  .container_profile section main .profile_data .box_grid_profile .name_user_profile_mdquery .user_options_mdquery .box_settings{
    display: flex;
    gap: 20px;
  }

  .container_profile section main .profile_data .box_grid_profile .name_user_profile_mdquery .user_options_mdquery .box_settings i{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile {
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content 50px;
    place-items: start;
    padding-left: 8px;
    padding-bottom: 50px;
    row-gap: 5px;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .box_img_profile {
    justify-content: start;
    width: 80px;
    height: 80px;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box{
    height: 100%;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_activity {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    height: initial;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_activity .box_numbers_activity{
    flex-direction: column;
    align-items: center;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_activity .box_numbers_activity span:nth-child(1) {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_activity .box_numbers_activity span:nth-child(2) {
    color: #fff;
    font-size: .8rem;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name{
    display: none;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_name .name_and_edit_profile_box{
    display: none;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_profile_box .data_info_box .info_data_description{
    display: none;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_data_description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 1 / 3;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_data_description .name_profile span{
    color: #fff; 
    font-size: .85rem;
    font-weight: 500;
  }

  /* .container_profile section main .profile_data .box_grid_profile .header_profile .info_data_description .presentation{
    display: flex;
    width: 100%;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_data_description .presentation p{
    color: #fff;
    font-size: .8rem;
  } */

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_data_description .presentation{
    display: flex;
    max-width: 300px;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .info_data_description .presentation p{
    color: #fff;
    font-size: .8rem;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .name_and_edit_profile_box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    grid-column: 1 / 3;
    align-self: center;
  }

  .container_profile section main .profile_data .box_grid_profile .header_profile .name_and_edit_profile_box button{
    outline: none;
    border: none;
    color: #000;
    background: #EFEFEF;
    padding: 8px 30px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
  }

  .container_profile section main .profile_data .box_grid_profile .btn_sections_profile{
    justify-content: space-evenly;
  }

  .container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box {
    grid-template-columns: 1fr;
    column-gap: 0px;
    padding: 10px;
    flex-grow: 1;
  }

  .container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box:nth-child(2){
    display: none;
  }

  .container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box i {
    font-size: 2rem;
  }

  .container_profile section main .profile_data .box_grid_profile .btn_sections_profile .btn_box .btn{
    display: none;
  }

  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos {
    grid-template-columns: repeat(3, minmax(calc(216px - 60px), 310px));
    grid-auto-rows: 240px;
  }

}

@media screen and (max-width: 600px){
  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos {
    grid-auto-rows: 200px;
  }
}

@media screen and (max-width: 500px){
  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos {
    grid-template-columns: repeat(3, minmax(150px, 310px));
    grid-auto-rows: 150px;
  }
}

@media screen and (max-width: 460px){
  .container_profile section main .profile_data .box_grid_profile .photos .collage_photos {
    grid-template-columns: repeat(3, minmax(100px, 310px));
    grid-auto-rows: 130px;
  }
}









