<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <title>Instagram</title>
</head>
<body>
  <div class="box_aside_home_menu">
    <header>
      <h1>Instagram</h1>
    </header>
    <div class="box_menu">
      <nav>
        <ul>
          <li>
            <div class="menu_item active">
              <i class='bx bx-home'></i>
              <span>Inicio</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-search'></i>
              <span>Búsqueda</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-compass'></i>
              <span>Explorar</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-video'></i>
              <span>Reels</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-message-rounded'></i>
              <span>Mensajes</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-heart'></i>
              <span>Notificaciones</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-message-alt-add'></i>
              <span>Crear</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <div class="user_profile">
                <img src="../img/user.jpg" alt="Cristian Pérez">
              </div>
              <span>Perfil</span>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="options">
      <div class="grid_options">
        <i class='bx bx-menu' ></i>
        <span>Más</span>
      </div>
    </div>
  </div>
  <div class="content_main">
    <div class="grid_main">
      <main>
          <section>
            <div class="reels">
              <div class="box_container_reels">
                <span>Proceso de construción</span>
              </div>
            </div>
            <div class="content_publications">
              <div class="box_publications">
                <article>
                  <div class="publication">
                    <header>
                      <div class="profile">
                        <div class="box_img_profile">
                          <img src="../img/user.jpg" alt="">
                        </div>
                        <div class="name_profile">
                          <span>cris.alejo13</span>
                          <span>•</span>
                          <span class="current_time_publication">8 min</span>
                        </div>
                      </div>
                      <div class="options_publications">
                        <button>...</button>
                      </div>
                    </header>
                    <div class="post">
                      <img src="../img/post.jpg" alt="">
                    </div>
                    <div class="interactivity">
                      <div class="reactions_post">
                        <div class="reactions">
                          <span><i class='bx bx-heart'></i></span>
                          <span><i class='bx bx-message-rounded bx-flip-horizontal' ></i></span>
                          <span><i class='bx bx-navigation'></i></span>
                        </div>
                        <div class="save_post">
                          <span><i class='bx bx-bookmark'></i></span>
                        </div>
                      </div>
                      <div class="likes_post">
                        <span>12.000 Me Gusta</span>
                      </div>
                      <div class="description_post">
                        <p><span id="user_profile">cris.alejo13</span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, a reprehenderit temporibus voluptatem est dolores corrupti fuga eius, explicabo odio veritatis commodi nulla Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, a reprehenderit temporibus voluptatem est dolores corrupti fuga eius, explicabo odio veritatis commodi nulla</p>
                      </div>
                      <div class="comments_post">
                        <span>Ver los 10 comentarios</span>
                      </div>
                      <div class="make_comment">
                        <form>
                          <div class="box_input">
                            <textarea placeholder="Añade un comentario..."></textarea>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </section>
      </main>
      <div class="suggestion">
        <div class="profile_suggestion">
          <div class="suggestions_box profile">
            <div class="box_img_profile">
              <img src="../img/user.jpg" alt="">
            </div>
            <div class="info_profile">
              <span id="username" class="username">cris.alejo13</span>
              <span id="name" class="name">Cristian Pérez</span>
            </div>
              <button>Cambiar</button>
          </div>
          <div class="suggestions_box list">
            <span>Sugerencias para ti</span>
            <button>Ver todo</button>
          </div>
          <div class="suggestions_box not_followers_friends">
            <div class="friends">
              <div class="box_img_profile">
                <img src="../img/masculino.jpg" alt="">
              </div>
              <div class="info_profile">
                <span id="username" class="username">armando_c0</span>
                <span id="friend_follower" class="friend_follower">_marta_01 y 2 más siguen esta cuenta</span>
              </div>
              <button>Seguir</button>
            </div>
            <div class="friends">
              <div class="box_img_profile">
                <img src="../img/femenino.jpg" alt="">
              </div>
              <div class="info_profile">
                <span id="username" class="username">juanpisph</span>
                <span id="friend_follower" class="friend_follower">vanessacele22 sigue a este usuario</span>
              </div>
              <button>Seguir</button>
            </div>
            <div class="friends">
              <div class="box_img_profile">
                <img src="../img/femenino.jpg" alt="">
              </div>
              <div class="info_profile">
                <span id="username" class="username">laura__</span>
                <span id="friend_follower" class="friend_follower">Te sigue</span>
              </div>
              <button>Seguir</button>
            </div>
            <div class="friends">
              <div class="box_img_profile">
                <img src="../img/default.jpg" alt="">
              </div>
              <div class="info_profile">
                <span id="username" class="username">rodrigo_2001</span>
                <span id="friend_follower" class="friend_follower">junior_gomez06 y 3 más siguen esta cue...</span>
              </div>
              <button>Seguir</button>
            </div>
            <div class="friends">
              <div class="box_img_profile">
                <img src="../img/default.jpg" alt="">
              </div>
              <div class="info_profile">
                <span id="username" class="username">mbappe</span>
                <span id="friend_follower" class="friend_follower">Te sigue</span>
              </div>
              <button>Seguir</button>
            </div>
          </div>
          <div class="suggestion_info_company">
            <div class="box">
              <div>
                <a href="">Información</a>
                <span>.</span>
                <a href="#">Ayuda</a>
                <span>.</span>
                <a href="#">Prensa</a>
                <span>.</span>
                <a href="#">API</a>
                <span>.</span>
                <a href="#">Empleo</a>
                <span>.</span>
                <a href="#">Privacidad</a>
                <span>.</span>
                <a href="#">Condiciones</a>
                <span>.</span>
                <a href="#">Ubicaciones</a>
                <span>.</span>
                <a href="#">Idioma</a>
                <span>.</span>
                <a href="#">Meta Verified</a>
              </div>
              <div class="copyright">
                <span>© 2023 INSTAGRAM FROM META</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>