<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://freelogopng.com/images/all_img/1658586619instagram-logo-png.png">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <title>Instagram</title>
</head>
<body>
  <div class="grid_container_home">
    <div class="box_aside_home_menu">
      <header>
        <h1>Instagram</h1>
      </header>
      <div class="box_menu">
        <nav>
          <ul>
            <li>
              <div class="menu_item active">
                <i class='bx bx-home'></i>
                <span>Inicio</span>
              </div>
            </li>
            <li>
              <div class="menu_item">
                <i class='bx bx-search'></i>
                <span>Búsqueda</span>
              </div>
            </li>
            <li>
              <div class="menu_item">
                <i class='bx bx-compass'></i>
                <span>Explorar</span>
              </div>
            </li>
            <li>
              <div class="menu_item">
                <i class='bx bx-video'></i>
                <span>Reels</span>
              </div>
            </li>
            <li>
              <div class="menu_item">
                <i class='bx bx-message-rounded'></i>
                <span>Mensajes</span>
              </div>
            </li>
            <li>
              <div class="menu_item">
                <i class='bx bx-heart'></i>
                <span>Notificaciones</span>
              </div>
            </li>
            <li>
              <div class="menu_item">
                <i class='bx bx-message-alt-add'></i>
                <span>Crear</span>
              </div>
            </li>
            <li>
              <div class="menu_item">
                <div class="user_profile">
                  <img src="../img/user.jpg" alt="Cristian Pérez">
                </div>
                <span>Perfil</span>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="options">
        <div class="grid_options">
          <i class='bx bx-menu' ></i>
          <span>Más</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>