<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="">
  <link rel="stylesheet" href="../css/inbox.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <title>Mitsgram</title>
</head>
<body>
  <div class="box_aside_home_menu">
    <header>
      <div class="icon_instagram">
        <a href="home.html">
          <i class='bx bxl-instagram' ></i>
        </a>
      </div>
    </header>
    <div class="box_menu">
      <nav>
        <ul>
          <li>
            <a href="../components/home.html">
              <div class="menu_item">
                <i class='bx bx-home'></i>
              </div>
            </a>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-search'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-compass'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-video'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bxs-message-rounded'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-heart'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-message-alt-add'></i>
            </div>
          </li>
          <li>
            <a href="../components/profile.html">
              <div class="menu_item">
                <div class="user_profile">
                  <img src="../img/user.jpg" alt="Cristian Pérez">
                </div>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="options">
      <div class="grid_options">
        <i class='bx bx-menu' ></i>
      </div>
    </div>
  </div>
  <div class="container_content_mensagges">
    <div class="grid_inbox">
      <div class="users_contact_messages"> <!-- Grilla principal seleccion de chats de chats (3 filas)-->
        <div class="info_account_profile"> <!-- Primer fila-->
          <div class="name_profile">
            <span>cris.alejo13</span>
            <i class='bx bx-chevron-down'></i>
          </div>
          <i class='bx bx-edit'></i>
        </div>
        <div class="option_selection_for_messages"> <!-- Segunda fila-->
          <span>Mensajes</span>
          <span>Solicitudes</span>
        </div>
        <div class="box_scroll">
          <div class="box_users_contact"> <!-- Tercera fila-->
            <div class="chat">
              <div class="box_info_chat"> <!-- grilla columna de información del chat-->
                <div class="box_img">
                  <div class="img_profile_chat">
                    <img src="../img/user.jpg" alt="">
                  </div> 
                </div>
                <div class="info_user_chat"> <!-- Dos columnas para el mensaje-->
                  <div class="message">
                    <span id="chat_user">sr_andressz</span>
                    <!-- La clase vacía de "message" tiene valor (not_seen) esto para saber si muestra un mensaje en caso de no haberlo leido-->
                    <span id="message" class="">Última actividad hace 1 h</span> <!-- El mensaje que se muestre no puede ser tan largo-->
                  </div>
                  <!-- <div class="current_time"> Esto se activa al momento de que le lleguen mensajes al usuario y este no los haya leido
                    <span>•</span>
                    <span> 10 min</span>
                  </div> -->
                </div>
                <!-- <div class="seen_message"> Se activa cuando le llegan mensajes al usuario que no haya leido
                  <span id="seen">•</span>
                </div> -->
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="box_messages_user"><!-- Grilla principal en fila (3)-->
        <div class="info_chat">
          <div class="grid_data_chat">
            <div class="box_img_chat">
              <img src="../img/user.jpg" alt="">
            </div>
            <div class="box_data">
              <span>sr_andressz</span>
              <span>Última actividad hace 19 h</span>
            </div>
          </div>
          <div class="action_chat">
            <i class='bx bx-phone'></i>
            <i class='bx bx-video' ></i>
            <i class='bx bx-info-circle'></i>
          </div>
        </div>
        <div class="box_inbox_message"> <!-- Seccion de mensajeria por parte del usuario -->
          <div class="inbox_messages_chat">
            <div class="profile_chat_message">
              <div class="box_img_user">
                <img src="../img/user.jpg" alt="">
              </div>
              <span>sr_andressz</span>
              <span>Mitsgram</span>
              <a href="#">Ver perfil</a>
            </div>
            <div class="message_chat">
              <div class="bubble_container right"><!-- Container de los mensajes-->
                <div class="buble"> <!--Mensaje-->
                  <div class="bubble_text">
                    <div>
                      <span class="msg_send">Lorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sit</span>
                      <div class="bubble-info">12:12 p.m</div>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="bubble_container left"><!-- Container de los mensajes-->
                <div class="buble"> <!--Mensaje-->
                  <div class="bubble_text">
                    <div>
                      <span class="msg_send">Lorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sit</span>
                      <div class="bubble-info">12:12 p.m</div>
                    </div>
                  </div>
                </div> 
              </div>
            </div> 
          </div>
        </div>
        <div class="send_message"><!-- Seccion de envio de mensaje por parte del usuario -->
          <div class="box_message">
            <form>
              <div class="box_text_area">
                <textarea placeholder="Envía un mensaje..."></textarea>
                <button>Enviar</button>
              </div>
            </form>
          </div>
        </div> 
      </div> 
    </div>
  </div>
  <div class="more_options" id="more_options">
    <nav>
      <div class="box_option_primary">
        <ul>
          <li>
            <a href="#">
              <div class="select_option">
                <i class='bx bx-cog'></i>
                <span>Configuración</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="select_option">
                <i class='bx bx-history'></i>
                <span>Tu actividad</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
            <div class="select_option">
              <i class='bx bx-bookmark'></i>
              <span>Guardadas</span>
            </div>
          </a>
          </li>
          <li>
            <div class="select_option">
              <i class='bx bx-moon bx-rotate-270'></i>
              <span>Cambiar Aspecto</span>
            </div>
          </li>
          <li>
            <div class="select_option">
              <i class='bx bx-info-circle'></i>
              <span>Informar de un problema</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="decoration"></div>
      <div class="option_account">
        <div class="change_account">
          <span>Cambiar de cuenta</span>
        </div>
        <a href="/">
          <div class="log_out">
            <span>Salir</span>
          </div>
        </a>
      </div>
    </nav>
  </div>
  <script src="../js/messages.js"></script>
  <script src="../js/popupLogOut.js"></script>
</body>
</html>