<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png">
  <link rel="stylesheet" href="../css/inbox.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <title>Instagram</title>
</head>
<body>
  <div class="box_aside_home_menu">
    <header>
      <div class="icon_instagram">
        <i class='bx bxl-instagram' ></i>
      </div>
    </header>
    <div class="box_menu">
      <nav>
        <ul>
          <li>
            <a href="../components/home.html">
              <div class="menu_item">
                <i class='bx bx-home'></i>
              </div>
            </a>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-search'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-compass'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-video'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bxs-message-rounded'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-heart'></i>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-message-alt-add'></i>
            </div>
          </li>
          <li>
            <a href="../components/profile.html">
              <div class="menu_item">
                <div class="user_profile">
                  <img src="../img/user.jpg" alt="Cristian Pérez">
                </div>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="options">
      <div class="grid_options">
        <i class='bx bx-menu' ></i>
      </div>
    </div>
  </div>
</body>