<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png">
  <link rel="stylesheet" href="../css/profile.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <title>Document</title>
</head>
<body>
  <div class="box_aside_home_menu">
    <header>
      <h1>Instagram</h1>
    </header>
    <div class="box_menu">
      <nav>
        <ul>
          <li>
            <a href="../components/home.html">
              <div class="menu_item">
                <i class='bx bx-home'></i>
                <span>Inicio</span>
              </div>
            </a>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-search'></i>
              <span>Busqueda</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-compass'></i>
              <span>Explorar</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-video'></i>
              <span>Reels</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-message-rounded'></i>
              <span>Mensajes</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-heart'></i>
              <span>Notificaciones</span>
            </div>
          </li>
          <li>
            <div class="menu_item">
              <i class='bx bx-message-alt-add'></i>
              <span>Crear</span>
            </div>
          </li>
          <li>
            <a href="../components/profile.html">
              <div class="menu_item active">
                <div class="user_profile">
                  <img src="../img/user.jpg" alt="Cristian Pérez">
                </div>
                <span>Perfil</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="options">
      <div class="grid_options">
        <i class='bx bx-menu' ></i>
        <span>Más</span>
      </div>
    </div>
  </div>
  <div class="container_profile">
    <section>
      <main>
        <div class="profile_data">
          <div class="box_grid_profile">
            <div class="header_profile"> <!--- Primera fila del perfil-->
              <div class="box_img_profile">
                <img src="../img/user.jpg">
              </div>
              <div class="info_profile_box">
                <div class="data_info_box">  <!-- Contendor de datos del perfil -->
                  <div class="info_data_name"> <!-- configuración del perfil y nombre -->
                    <div class="name_and_edit_profile_box">
                      <span id="name_profile">cris.alejo13</span>
                      <button>Editar perfil</button>
                    </div>
                    <div class="box_settings">
                      <a href="https://github.com/Crisops" target="_blank"><i class='bx bxl-github'></i></a></i>
                      <i class='bx bx-cog' ></i>
                    </div>
                  </div>
                  <div class="info_data_activity"> <!-- Publicaciones y seguidores -->
                    <div class="box_numbers_activity">
                      <span id="number_publication">4</span>
                      <span>publicaciones</span>
                    </div>
                    <div class="box_numbers_activity">
                      <span id="number_follower">76</span>
                      <span>seguidores</span>
                    </div>
                    <div class="box_numbers_activity">
                      <span id="number_following">107</span>
                      <span>seguidos</span>
                    </div>
                  </div>
                  <div class="info_data_description">
                    <div class="name_profile">
                      <span id="name_user">Cristian Pérez</span>
                    </div>
                    <div class="presentation">
                      <p>Colombia</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn_sections_profile"><!--- Segunda fila del perfil-->
              <div class="btn_box active">
                <i class='bx bx-grid'></i>
                <div class="btn">
                  <span>Publicaciones</span>
                </div>
              </div>
              <div class="btn_box">
                <i class='bx bx-bookmark'></i>
                <div class="btn">
                  <span>Guardadas</span>
                </div>
              </div>
              <div class="btn_box">
                <i class='bx bx-user-pin'></i>
                <div class="btn">
                  <span>Etiquetadas</span>
                </div>
              </div>
            </div>
            <div class="photos"><!--- Tercera fila del perfil-->
              <div class="collage_photos">
                <div class="box_publication_img">
                  <img src="../img/photo2.jpg" alt="">
                </div>
                <div class="box_publication_img">
                  <img src="../img/cristian.webp" alt="">
                </div>
                <div class="box_publication_img">
                  <img src="../img/photo1.jpg" alt="">
                </div>
                <div class="box_publication_img">
                  <img src="../img/photo1.jpg" alt="">
                </div>
                <div class="box_publication_img">
                  <img src="../img/cristian.webp" alt="">
                </div>
                <div class="box_publication_img">
                  <img src="../img/photo2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>
  </div>
</body>
</html>