<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/sign_up.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="icon" href="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png">
  <title>Sign Up | Instagram</title>
</head>
<body>
  <div class="container_sign_up">
    <div class="grid_form_sign_form">
      <div class="box_content_main">
        <div class="tittle_sign">
          <h1>Instagram</h1>
        </div>
        <div class="text_info">
          <p>Régistrate para ver fotos y videos de tus amigos</p>
        </div>
        <div class="box_social_network">
          <button><i class='bx bxl-facebook-square'></i>Iniciar sesión con Facebook</button>
        </div>
        <div class="decoration">
          <div></div>o<div></div>
        </div>
        <form>
          <div class="box_input">
            <span>Número de móvil o correo eléctronico</span>
            <input id="input_data" type="text" autocomplete="off">
          </div>
          <div class="box_input">
            <span>Nombre completo</span>
            <input id="input_data" type="text" autocomplete="off">
          </div>
          <div class="box_input">
            <span>Nombre de Usuario</span>
            <input id="input_data" type="text" autocomplete="off">
          </div>
          <div class="box_input">
            <span id="psd">Contraseña</span>
            <span id="show">Ocultar</span>
            <input id="input_data" class="password" type="text" autocomplete="off">
          </div>
          <div class="info_users">
            <p>Es posible que los usuarios de nuestro servicio hayan subido tu información de contacto en Instagram.
            <a href="#">Más información</a></p>
          </div>
          <div class="info_terminos">
            <p>Al registrarte, aceptas nuestras <a href="#">Condiciones</a>, nuestra <a href="#">Política de privacidad</a> y nuestra <a href="#">Política de cookies</a>.</p>
          </div>
          <div class="btn_sig_up">
            <button>Registrarte</button>
          </div>
        </form>
      </div>
      <div class="box_exists_account">
        <span>¿Tienes una cuenta? <a href="/">Entrar</a></span>
      </div>
      <div class="box_dowloand_application">
        <span>Descarga la aplicación</span>
        <div class="box_img_plataform">
          <div class="box_img">
            <img src="../img/google_play.png" alt="">
          </div>
          <div class="box_img">
            <img src="../img/microsoft.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/sign_up.js"></script>
</body>
</html>